<?xml version="1.0" ?>
<launch>

    <!-- Run the script that listens to the /user_intput topic and sends target to the navigation  -->
	<!-- <node pkg="user_interface" type="connect.py" name="connect" output="screen" /> -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
     <arg name="port" value="8080"/>
        <arg name="ssl" default="true"/>
        <arg name="certfile" default="$(find user_interface)/cert.pem"/>
        <arg name="keyfile" default="$(find user_interface)/key.pem"/>
        <arg name="authenticate" default="false"/>
    </include>


</launch>
