<?xml version="1.0" ?>
<launch>
    <arg name="enable_fisheye"        default="false"/>
    <arg name="use_camera1"           default="true"/>
    <arg name="use_camera2"           default="true"/>
    <arg name="use_camera3"           default="true"/>

    <include file="$(find arnie_localisation)/launch/sensor_interface.launch">

        <arg name="camera1"              		value="t265"/>
        <!-- <arg name="serial_no_camera1"           value="947122110931"/> -->
        <arg name="serial_no_camera1"           value="11622110680"/>
        <arg name="use_camera1"                 value="$(arg use_camera1)"/>
        <arg name="enable_fisheye"              value="$(arg enable_fisheye)"/>

        <arg name="camera2"              		value="l515_r"/>
        <arg name="use_camera2"              	value="$(arg use_camera2)"/>
        <arg name="serial_no_camera2"           value="f0233245"/>
        <arg name="enable_cam2_imu"             value="false"/>

        <arg name="camera3"              		value="l515_l"/>
        <arg name="use_camera3"              	value="$(arg use_camera3)"/>

        <arg name="use_rplidar"              	value="true"/>
    </include>

</launch>
