<?xml version="1.0" ?>
<launch>

	<arg name="joystick" 	default="external"/>   <!-- "external" or "robot" -->

	<node pkg="arnie_navigation" type="robot_interface.py" name="robot_interface" output="screen" />

	<!-- Gamepad Control -->
    <!-- <node name="joy_node" pkg="joy" type="joy_node"  if="$(eval arg('joystick') == 'robot')">
        <param name="autorepeat_rate" value="50"/>
    </node> -->


</launch>
