<?xml version="1.0" ?>
<launch>


    <!-- Can be equal to sim or robot -->
    <arg name="mode"    default="$(optenv MODE sim)"/>

    <!-- Set up the tf transforms -->
    <node pkg="tf" type="static_transform_publisher" name="laser" args="0 0 0 3.14 0 0 base_link laser 100" />
    <!-- unless="$(arg sim)" -->

    <!-- Start the map server -->
    <include file="$(find path_planning)/launch/path_planning.launch">
    </include>

    <!-- Start Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_main)/rviz/config.rviz"/>


    <group if="$(eval arg('mode') == 'robot')">
            <!-- Listen to the /cmd_vel topic and send the commands to the PI -->
            <include file="$(find navigation)/launch/pi_interface.launch">

            </include>

            <include file="$(find user_interface)/launch/user_interface.launch">

            </include>


    </group>

    <group if="$(eval arg('mode') == 'sim')">
            <!-- TODO send commands to the simulation model -->
            <!-- Open gazebo server, with model and subscribes to topics and stuff -->
            <include file="$(find wheele_gazebo)/launch/wheele.launch"></include>

    </group>

    <!-- <node pkg="nodelet" type="nodelet" name="external_nodelet_manager" args="manager" output="screen"/> -->

</launch>
