<?xml version="1.0" ?>
<launch>


    <!-- Can be equal to sim or robot -->
    <arg name="mode"    default="$(optenv MODE robot)"/>



    <group if="$(eval arg('mode') == 'robot')">
            <!-- Listen to the /cmd_vel topic and send the commands to the PI -->
            <include file="$(find navigation)/launch/pi_interface.launch">

            </include>

            <include file="$(find user_interface)/launch/user_interface.launch">

            </include>

            <include file="$(find path_planning)/launch/path_planning.launch">

            </include>

            <include file="$(find wheele_2dnav)/launch/move_base.launch">

            </include>
    </group>

    <group if="$(eval arg('mode') == 'sim')">
            <!-- TODO send commands to the simulation model -->
            <!-- Open gazebo server, with model and subscribes to topics and stuff -->
    </group>

    <!-- <node unless="$(arg sim)" pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 3.14 0 0 base_link laser 100" /> -->

    <!-- Start rviz -->
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_main)/rviz/arnie.rviz" if="$(arg rviz)"/> -->

    <!-- <node pkg="nodelet" type="nodelet" name="external_nodelet_manager" args="manager" output="screen"/> -->

</launch>
