<?xml version="1.0"?>
<robot name="quickie_base" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:arg name="gazebo" default="false" />

  <xacro:include filename="$(find arnie_description)/robots/urdf/inc/quickie_base.urdf.xacro" />
  <xacro:arnie prefix="" gazebo="$(arg gazebo)" />

  <xacro:if value="$(arg gazebo)">
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <!-- <robotNamespace>/</robotNamespace> -->
      </plugin>
    </gazebo>
  </xacro:if>

</robot>