<?xml version="1.0" ?>
<launch>

  <arg name="model" default="$(find arnie_description)/robots/urdf/amiga_base.urdf.xacro"/>
	<param name="robot_description_amiga_base" command="$(find xacro)/xacro $(arg model)"/>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <remap from="robot_description" to="robot_description_amiga_base"/>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="robot_description" to="robot_description_amiga_base"/>
  </node>

</launch>
