<?xml version="1.0" ?>
<launch>

    <!-- Run the script that listens to the /user_intput topic and sends target to the navigation  -->
	<node pkg="zed_dummy" type="dummy_detector.py" name="zed_dummy" output="screen" />
    <node pkg="tf" type="static_transform_publisher" name="odom" args="10 0 0 0 0 0 map camera_link 100" />
</launch>