<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="t265">
        <material name="grey">
            <color rgba="0.5 0.5 0.5 1"/>
        </material>

        <link name="t265_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://arnie_description/robots/meshes/t265.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="grey"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://arnie_description/robots/meshes/t265.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="grey"/>
            </collision>
            <inertial>
                <mass value="0.068024" />
                <origin xyz="0 0 0" />
                <inertia ixx="0.0000039782" ixy="0.0" ixz="0.000000034641" iyy="0.000065045" iyz="0.0" izz="0.000067499" />
            </inertial>
        </link>

    </xacro:macro>
</robot>
