<?xml version="1.0"?>
<!-- -->
<launch>
   
  <!-- Multi-cameras demo with 2 zed cameras -->
  
  <!-- Choose visualization -->
  <arg name="rviz"       default="false" />
  <arg name="rtabmapviz" default="true" /> 
  
  <!-- Set to false to use just one of the cameras for odometry
       Set to 0 to use both cameras for odometry. -->
  <arg name="multicamera_odom" default="true"/>
   
  <!-- Cameras -->
  <param name="/zed1_node/depth_confidence" value="100"/>
  <param name="/zed1_node/depth_texture_conf" value="90"/>
  <include file="$(find zed_wrapper)/launch/zed_no_tf.launch">
    <arg name="camera_name"  value="zed1" />
    <arg name="node_name"    value="zed1_node" />
    <arg name="camera_model" value="zed2i" /> <!-- 'zed' or 'zedm' or 'zed2' or 'zed2i' -->
    <arg name="camera_id"    value="0" />
  </include>

  <param name="/zed2_node/depth_confidence" value="100"/>
  <param name="/zed2_node/depth_texture_conf" value="90"/>
  <include file="$(find zed_wrapper)/launch/zed_no_tf.launch">
    <arg name="camera_name"  value="zed2" />
    <arg name="node_name"    value="zed2_node" />
    <arg name="camera_model" value="zedm" /> <!-- 'zed' or 'zedm' or 'zed2' or 'zed2i' -->
    <arg name="camera_id"    value="1" />
    
    <!-- Frames: Cameras are placed back to back -->
    <arg name="cam_pos_x" default="-0.06" />
    <arg name="cam_yaw"   default="3.14159265359" />
  </include>
      
  <!-- exact sync rgb/depth images per camera -->
  <group ns="camera1">
   <node pkg="rtabmap_ros" type="rgbd_sync" name="rgbd_sync1">
     <remap from="rgb/image"       to="/zed1_node/rgb/image_rect_color"/>
     <remap from="depth/image"     to="/zed1_node/depth/depth_registered"/>
     <remap from="rgb/camera_info" to="/zed1_node/rgb/camera_info"/>
     <param name="approx_sync"     value="false"/>
   </node>
  </group>
  <group ns="camera2">
   <node pkg="rtabmap_ros" type="rgbd_sync" name="rgbd_sync2">
     <remap from="rgb/image"       to="/zed2_node/rgb/image_rect_color"/>
     <remap from="depth/image"     to="/zed2_node/depth/depth_registered"/>
     <remap from="rgb/camera_info" to="/zed2_node/rgb/camera_info"/>
     <param name="approx_sync"     value="false"/>
   </node>
  </group>
           
  <group ns="rtabmap">
  
    <!-- approx sync cameras together -->
    <node pkg="rtabmap_ros" type="rgbdx_sync" name="rgbdx_sync">
      <remap from="rgbd_image0"  to="/camera1/rgbd_image"/>
      <remap from="rgbd_image1"  to="/camera2/rgbd_image"/>
      <param name="rgbd_cameras" type="int"  value="2"/>  
      <param name="approx_sync"  type="bool" value="true"/>
    </node>
  
    <!-- Odometry -->
    <node pkg="rtabmap_ros" type="rgbd_odometry" name="rgbd_odometry" output="screen">
      <remap from="rgbd_image"  to="/camera1/rgbd_image"/> <!-- for single camera odom, see below -->
      <remap from="rgbd_images" to="rgbd_images"/>         <!-- for multi-camera odom, see below -->
      <remap from="imu"         to="/zed1_node/imu/data"/>
	  
	  <param name="subscribe_rgbd" type="bool"   value="true"/>
	  <param name="frame_id"       type="string" value="base_link"/>
	  <param name="wait_imu_to_init" type="bool" value="true"/> <!-- set to false for "zed" camera model -->
 
	  <param     if="$(arg multicamera_odom)" name="rgbd_cameras" type="int" value="0"/>
	  <param unless="$(arg multicamera_odom)" name="rgbd_cameras" type="int" value="1"/>
	  <!-- Multi-camera required odometry parameters -->
	  <param if="$(arg multicamera_odom)" name="OdomF2M/BundleAdjustment" type="string" value="0"/>
	  <param if="$(arg multicamera_odom)" name="Vis/EstimationType"       type="string" value="0"/> 
	  <param if="$(arg multicamera_odom)" name="Vis/CorGuessWinSize"      type="string" value="0"/>
    </node>
  
    <!-- Visual SLAM (robot side) -->
    <!-- args: "delete_db_on_start" and "udebug" -->
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
      <param name="subscribe_depth"  type="bool"   value="false"/>
      <param name="subscribe_rgbd"   type="bool"   value="true"/>
      <param name="rgbd_cameras"     type="int"    value="0"/> <!-- 0 to use rgbd_images input -->
	  <param name="frame_id"         type="string" value="base_link"/>
	  <param name="approx_symc"      type="bool"   value="false"/>

      <param name="Vis/EstimationType" type="string" value="0"/> <!-- should be 0 for multi-cameras -->
      
      <remap from="imu" to="/zed1_node/imu/data"/>
    </node>
  
    <!-- Visualisation RTAB-Map -->
    <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
      <param name="subscribe_depth"     type="bool"   value="false"/>
      <param name="subscribe_rgbd"      type="bool"   value="true"/>
      <param name="subscribe_odom_info" type="bool"   value="true"/>
      <param name="frame_id"            type="string" value="base_link"/>
      <param     if="$(arg multicamera_odom)" name="rgbd_cameras" type="int" value="0"/>
	  <param unless="$(arg multicamera_odom)" name="rgbd_cameras" type="int" value="1"/>
      <param name="approx_symc"         type="bool"   value="false"/>
      
      <remap unless="$(arg multicamera_odom)" from="rgbd_image"  to="/camera1/rgbd_image"/>
    </node>
  
  </group>
  
  <!-- Visualization RVIZ -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find rtabmap_ros)/launch/config/rgbd.rviz"/>

</launch>