<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="room_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-4.61166074731966 -9.68859341522421 1.5"
        rpy="0 0 0" />
      <mass
        value="125565" />
      <inertia
        ixx="10034965.7831094"
        ixy="-2525394.91001045"
        ixz="-4.8724506822168E-12"
        iyy="2173837.70989483"
        iyz="3.43794307454559E-10"
        izz="12020455.9930043" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://room_gen/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://room_gen/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
